{% load static %}

<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="un proyecto pequeño sin fines de lucro que busca ayudar a animales olvidados a encontrar un hogar" />
        <meta name="author" content="RGB Productions" />
        <title>
            {% block title %}
                Catty's Fundation
            {% endblock title %}
        </title>
        <link rel="icon" type="image/x-icon" href="{% static 'core/assets/favicon.ico' %}" />
        <!-- Font icons-->
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
        <!-- Core theme CSS-->
        <link href="{% static 'core/css/styles.css' %}" rel="stylesheet" />
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="bg-[#F6F1E7] text-[#3E3A35] min-h-screen flex flex-col">
        <c-navbar
            brand="Catty's Fundation"
            brand_url="{% url 'core:index' %}"
        >

            <!-- Links de Navegacion-->
            <c-slot name="links">
                <ul class="
                    flex flex-col md:flex-row md:space-x-6 p-4
                    md:p-0 text-center md:text-left">
                    {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'core:profile' %}" class="
                            block px-3 py-2 rounded w-full text-left
                            transition duration-500 ease-in-out
                            hover:text-white hover:brightness-125
                            hover:drop-shadow-[0_0_6px_rgba(255,255,255,0.6)]"
                        >
                            Editar Perfil
                        </a>
                    </li>
                    <li>
                        <form action="{% url 'core:logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="block px-3
                            py-2 rounded w-full text-left transition
                            duration-500 ease-in-out hover:text-white
                            hover:brightness-125 hover:drop-shadow-[0_0_6px_rgba(255,255,255,0.6)]">
                            Salir
                        </button>
                        </form>
                    </li>
                    {% else %}
                    <li>
                        <a href="{% url 'core:login' %}" class="
                            block px-3 py-2 rounded w-full
                            text-left transition duration-500
                            ease-in-out hover:text-white hover:brightness-125
                            hover:drop-shadow-[0_0_6px_rgba(255,255,255,0.6)]"
                        >
                            Entrar
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </c-slot>
        </c-navbar>

        <main class="flex-1 flex flex-col">
            {% block content %}
            {% endblock content %}
        </main>

        <c-footer
            author="Factor RGB Programs"
            :contacts="[
            {'url': 'https://github.com/factor-rgb', 'class': 'text-4xl text-[#DAD7D2] hover:text-[#A8B5A2] transition-colors duration-200', 'icon': 'fab fa-github'},
            {'url': 'https://www.linkedin.com/in/raul-vieira-medrano-41828b35b/', 'class': 'text-4xl text-[#DAD7D2] hover:text-[#A8B5A2] transition-colors duration-200', 'icon': 'fab fa-linkedin'},
            ]"
        >
        </c-footer>

        <!-- htmx sript -->
        <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
        <script src="{% static 'core/js/scripts.js' %}"></script>
        <!-- youtube frame -->
        <!-- <script>
            // Cuando HTMX termina de insertar el modal
            document.body.addEventListener('htmx:afterSwap', function(evt) {
                if (evt.detail.target.id === "modal-container") {
                var modalEl = document.getElementById('videoModal');
                var iframe = modalEl.querySelector('#youtubeIframe');
                var embedSrc = iframe.getAttribute('data-src');

                // Instancia modal
                var bsModal = new bootstrap.Modal(modalEl);
                bsModal.show();

                // Asigna src al abrir
                modalEl.addEventListener('show.bs.modal', function () {
                    iframe.src = embedSrc;
                });

                // Al cerrar: limpiar src y backdrop
                modalEl.addEventListener('hidden.bs.modal', function () {
                    iframe.src = '';

                    // Eliminar backdrop manualmente
                    var backdrops = document.querySelectorAll('.modal-backdrop');
                    backdrops.forEach(function(bd) {
                    bd.parentNode.removeChild(bd);
                    });

                    // limpiar el contenedor del modal para evitar duplicados
                    document.getElementById("modal-container").innerHTML = "";
                });
                }
            });
        </script> -->
    </body>
</html>
