{% extends 'core/base.html' %}

{% block content %}
    <c-card_form
        legend="Inicia Sesión"
        button="Iniciar Sesión"
    >
        <c-slot name="extra">
            <p>
                ¿No tienes una cuenta?<br>
                <a href="{% url 'core:register' %}"
                    class="text-[mediumblue] underline hover:text-blue-700 cursor-pointer">
                    Crea tu cuenta
                </a>
            </p>
        </c-slot>
    </c-card_form>
{% endblock content %}