{% extends 'core/base.html' %}

{% block title %}Catty's/Listado de Mascotas{% endblock %}

{% block content %}
    <!-- div with the title and a create button(with permissions) -->
    <div class="flex flex-col gap-2 items-center justify-between mt-6">
        <h2 class="text-4xl mb-4 font-bold relative inline-block after:content-[''] 
                    after:absolute after:left-0 after:-bottom-1 after:w-full 
                    after:h-1 after:bg-amber-400 after:rounded-full after:shadow-md">
            Mascotas
        </h2>

        {% if user.employee.access_level >= 3%}
            <a href="{% url 'core:create' %}"
                class="bg-[#D98C5F] hover:bg-[#B97249]
                        text-white font-medium block px-4 py-2.5 rounded-lg
                        transition duration-200 justify-center">
                Registrar nueva mascota
            </a>
        {% endif %}
    </div>

    <!-- if there are results, shows a navbar -->
    {% if is_paginated and pets %}
        <nav class="mt-6 mx-4 sm:mx-8 lg:mx-6 flex items-center justify-center space-x-1">

            <!-- previous button -->
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}"
                    class="flex items-center gap-1 px-3 py-1 border-2 border-orange-400 rounded-xl hover:bg-white font-semibold">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="19" height="19" viewBox="0 0 24 24"
                        fill="none" stroke="currentColor" 
                        stroke-width="3" 
                    >
                        <path d="m15 18-6-6 6-6"></path>
                    </svg>
                    Anterior
                </a>
            {% else %}
                <span
                    class="flex items-center text-zinc-600 gap-1 px-3 py-1 border-2 bg-zinc-200 border-gray-500 rounded-xl cursor-not-allowed pointer-events-none">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="19" height="19" viewBox="0 0 24 24"
                        fill="none" stroke="currentColor" 
                        stroke-width="2" 
                    >
                        <path d="m15 18-6-6 6-6"></path>
                    </svg>
                    Anterior
                </span>
            {% endif %}

            <!-- current page -->
            <span class="px-3 py-1 text-lg font-semibold text-center">
                Página<br class="sm:hidden"> {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
            </span>

            <!-- next button -->
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}"
                class="flex items-center gap-1 px-3 py-1 border-2 border-orange-400 rounded-xl hover:bg-white font-semibold">
                    Siguiente
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="19" height="19" viewBox="0 0 24 24"
                        fill="none" stroke="currentColor" 
                        stroke-width="3">
                        <path d="m9 6 6 6-6 6"></path>
                    </svg>
                </a>
            {% else %}
                <span
                    class="flex items-center text-zinc-600 gap-1 px-3 py-1 border-2 bg-zinc-200 border-gray-500 rounded-xl cursor-not-allowed pointer-events-none">
                    Siguiente
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="19" height="19" viewBox="0 0 24 24"
                        fill="none" stroke="currentColor" 
                        stroke-width="3">
                        <path d="m9 6 6 6-6 6"></path>
                    </svg>
                </span>
            {% endif %}
        </nav>
    {% endif %}

    <!-- frame with the results of the search -->
    <div class="
        bg-amber-100
        border-2
        border-amber-500
        py-4
        px-4
        mx-4 sm:mx-8 lg:mx-6
        my-6
        rounded-lg
        grid
        grid-cols-[repeat(1,250px)]
        sm:grid-cols-[repeat(2,300px)]
        md:grid-cols-[repeat(2,300px)]
        lg:grid-cols-[repeat(auto-fit,300px)]
        gap-6 md:gap-10 lg:gap-6
        justify-center
        shadow-md
    ">
        <!-- if there are results, shows clickable cards to go into details -->
        {% if pets %}
            {% for pet in pets %}
                <!-- shows the pet data and extra info if the user has permissions -->
                <a href="{% url 'core:detail' pet.pk %}" class="text-sm w-full">
                    <article class="
                        bg-white
                        border-2
                        rounded-lg
                        border-amber-600
                        shadow
                        p-4
                        flex
                        flex-col
                        gap-2
                        transform-gpu
                        transition-all
                        duration-300
                        ease-out
                        w-full
                        hover:scale-105
                        hover:shadow-xl
                        active:scale-95
                    ">

                        <h2 class="
                            text-xl sm:text-lg md:text-xl lg:text-2xl
                            font-semibold 
                            border-b border-amber-400
                            pb-2 mb-4
                            text-center
                        ">
                            {{ pet.name|capfirst }}
                        </h2>

                        <p>
                            <strong>Edad:</strong><br>
                            {{ pet.age }} años
                        </p>

                        <p>
                            <strong>Raza:</strong><br>
                            {{ pet.breed.name|capfirst }} - 
                            {{ pet.breed.fur.primary_color|capfirst }}
                            {{ pet.breed.fur.secondary_color|default:"" }}
                        </p>

                        <p>
                            <strong>Sexo:</strong><br>
                            {{ pet.gender|capfirst }}
                        </p>

                        <p>
                            <strong>Tamaño (kg):</strong><br>
                            {{ pet.size }}
                        </p>

                        {% if user.employee.access_level >= 2%}
                            <p class="mt-2 truncate">
                                <strong>Anotaciones:</strong><br>
                                {{ pet.annotations|default:"No hay anotaciones registradas"|capfirst }}
                            </p>
                        {% endif %}
                    </article>
                </a>
            {% endfor %}
        {% else %}
            <article class="
                col-span-full
                flex
                items-center
                justify-center
                w-full
            ">
                <p class="text-center text-xl font-bold m-14">
                    No se encontraron mascotas que coincidan con la busqueda.
                </p>
            </article>
        {% endif %}
    </div>

    <!-- if there are results, shows a navbar -->
    {% if is_paginated and pets %}
        <nav class="mb-6 flex items-center justify-center space-x-1">

            <!-- previous button -->
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}"
                    class="flex items-center gap-1 px-3 py-1 border-2 border-orange-400 rounded-xl hover:bg-white font-semibold">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="19" height="19" viewBox="0 0 24 24"
                        fill="none" stroke="currentColor" 
                        stroke-width="3" 
                    >
                        <path d="m15 18-6-6 6-6"></path>
                    </svg>
                    Anterior
                </a>
            {% else %}
                <span
                    class="flex items-center text-zinc-600 gap-1 px-3 py-1 border-2 bg-zinc-200 border-gray-500 rounded-xl cursor-not-allowed pointer-events-none">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="19" height="19" viewBox="0 0 24 24"
                        fill="none" stroke="currentColor" 
                        stroke-width="2" 
                    >
                        <path d="m15 18-6-6 6-6"></path>
                    </svg>
                    Anterior
                </span>
            {% endif %}

            <!-- current page -->
            <span class="px-3 py-1 text-lg font-semibold text-center">
                Página<br class="sm:hidden"> {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
            </span>

            <!-- next button -->
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}"
                class="flex items-center gap-1 px-3 py-1 border-2 border-orange-400 rounded-xl hover:bg-white font-semibold">
                    Siguiente
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="19" height="19" viewBox="0 0 24 24"
                        fill="none" stroke="currentColor" 
                        stroke-width="3">
                        <path d="m9 6 6 6-6 6"></path>
                    </svg>
                </a>
            {% else %}
                <span
                    class="flex items-center text-zinc-600 gap-1 px-3 py-1 border-2 bg-zinc-200 border-gray-500 rounded-xl cursor-not-allowed pointer-events-none">
                    Siguiente
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="19" height="19" viewBox="0 0 24 24"
                        fill="none" stroke="currentColor" 
                        stroke-width="3">
                        <path d="m9 6 6 6-6 6"></path>
                    </svg>
                </span>
            {% endif %}
        </nav>
    {% endif %}
{% endblock content %}