{% extends 'core/base.html' %}

{% block content %}
    <c-card_form
        legend="Crea tu Cuenta"
        button="Crear Cuenta"
    >
        <c-slot name="extra">
            <p class="mt-3 flex justify-center items-center
                    space-x-2 cursor-pointer select-none text-sm leading-tight">
                <input 
                    type="checkbox" 
                    required 
                    class="h-4 w-4 accent-[#C98259] cursor-pointer
                        focus:outline-none focus:ring-2 focus:ring-[#C98259]"
                />
                <span class="flex items-center gap-1 text-gray-700 flex-wrap justify-center text-center">
                    Aceptar 
                    <a 
                        hx-get="{% url 'core:terms_conditions' %}" 
                        hx-target="body" 
                        hx-swap="beforeend"
                        class="text-[#DA8C5F] hover:text-[#B97249] cursor-pointer"
                    >
                        Términos
                    </a>
                    y Condiciones
                </span>
            </p>
        </c-slot>
    </c-card_form>
{% endblock content %}